{% extends "resnet50/layout.html" %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block body %}
    <div class="d-flex" style="height:22vh"></div>
    <div class="container">
        <div class="d-flex flex-column align-items-center">

            <div class="p-2">
                <img id="uploaded" src="{{img}}" alt="" />
            </div>

            {% if prediction %}
                <div class="p-2">{{prediction}}</div>
            {% endif %}                      

            <form method="POST" enctype="multipart/form-data" class="p-2">
                {% csrf_token %}
                <div class="custom-file">
                    {% for field in form %}
                        <label class="custom-file-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                        {{field}}
                    {% endfor %}
                    <div class="text-center">
                        <input type="submit" class="btn btn-primary my-2" value="Predict" style="width: 100%;">
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div class="d-flex" style="height:33vh"></div>

{% endblock body %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                
                reader.onload = function(e) {
                    $('#uploaded').attr('src', e.target.result);
                }
                
                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }

        $("#id_image").change(function() {
            readURL(this);
        });        
    </script>

{% endblock scripts %}