{% load static %}
<!DOCTYPE html> 
<html lang="en">
  <head>
    <title>ResNet 50 Interface</title>
    <script src="{% static 'resnet50/js/jquery-3.5.1.min.js'%}"></script>
    <script src="{% static 'resnet50/js/bootstrap.bundle.min.js'%}" defer></script>
    <link rel="stylesheet" href="{% static 'resnet50/css/bootstrap.min.css'%}"/>
    {% block stylesheets %} 
    {% endblock stylesheets %}
  </head>

  <body>
    {% block body %} 
    {% endblock body %}
  </body>

  {% block scripts %} 
  {% endblock scripts %}
</html>
