{% load static %}

<html>
  <head>
    <title>ResNet 50 Interface</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"
    ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" defer
    ></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    {% block stylesheets %} 
    {% endblock stylesheets %}
  </head>

  <body style="height: 33vh">
    {% block body %} 
    {% endblock body %}
  </body>

  {% block scripts %} 
  {% endblock scripts %}
</html>
